<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<h:head>
		<title>Product TWO Confirmation</title>
	</h:head>

	<h:body>

	    The product is confirmed: #{productTwo.productName}

		<br /><br/>
		
		Rating: #{productTwo.rating}
		
		<br /><br/>
		
		Origin District: #{productTwo.originDistrictPostalCode}
		
    </h:body>
</html>