<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:head>
		<title>Student TWO Registration Form</title>
	
		<style>
			.error {color:red}
		</style>
		
	</h:head>

	<h:body>

		<h:form>
		
			Name: <h:inputText	value="#{productFour.productName}"
								label="Name"
								required="true"
								id="name"
								requiredMessage="The product name is mandatory."></h:inputText>
				
				<h:message for="name" styleClass="error"></h:message>
	
			<br></br>
				
			Product Code: 	<h:inputText	value="#{productFour.productCode}"
											label="Product Code"
											id="product_code"
											validator="#{productFour.validateTheProductCode}">
							</h:inputText>
					
			<h:message for="product_code" styleClass="error"></h:message>
													
			<br></br>
			
			<h:commandButton value="Submit" action="product_four_response"></h:commandButton>
	
		</h:form>
	
	</h:body>

</html>