<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:head>
		<title>Student TWO Registration Form</title>
	
		<style>
			.error {color:red}
		</style>
		
	</h:head>

	<h:body>

		<h:form>
		
			Name: <h:inputText	value="#{productThree.productName}"
								label="Name"
								required="true"
								id="name"
								requiredMessage="The product name is mandatory."></h:inputText>
				
				<h:message for="name" styleClass="error"></h:message>
	
			<br></br>
				
			Origin District: <h:inputText	value="#{productThree.originDistrict}"
									label="Origin District"
									id="origin_district"
									validatorMessage="Origin Adress of the District can only have four numbers">
					
							<f:validateRegex pattern="\d{4}"></f:validateRegex>
									
					</h:inputText>
					
			<h:message for="origin_district" styleClass="error"></h:message>
													
			<br></br>
			
			<h:commandButton value="Submit" action="product_three_response"></h:commandButton>
	
		</h:form>
	
	</h:body>

</html>