<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:head>
		<title>Student TWO Registration Form</title>
	
		<style>
			.error {color:red}
		</style>
		
	</h:head>

	<h:body>

		<h:form>
		
			Name: <h:inputText	value="#{productTwo.productName}"
								label="Name"
								required="true"
								id="name"
								requiredMessage="The product name is mandatory."></h:inputText>
				
				<h:message for="name" styleClass="error"></h:message>
	
			<br></br>
				
			Rating: <h:inputText 	value="#{productTwo.rating}"
									label="Rating"
									id="rating">
					
							<f:validateLongRange minimum="0" maximum="10"></f:validateLongRange>
									
					</h:inputText>
					
			<h:message for="rating" styleClass="error"></h:message>
										
			<br></br>
			
			Postalcode of Origin District: 	<h:inputText	value="#{productTwo.originDistrictPostalCode}"
															label="Origin District - Postal Code"
															id="postal_code">
			
											<f:validateLength minimum="4" maximum="4"></f:validateLength>
											
											</h:inputText>
											
			<h:message for="postal_code" styleClass="error"></h:message>										
			
			<br></br>
			
			<h:commandButton value="Submit" action="product_two_response"></h:commandButton>
	
		</h:form>
	
	</h:body>

</html>