<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<h:head>
		<title>Product THREE Confirmation</title>
	</h:head>

	<h:body>

	    The product is confirmed: #{productThree.productName}
		
		<br /><br/>
		
		Origin District: #{productThree.originDistrict}
		
    </h:body>
</html>