<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<h:head>
		<title>Product ONE Confirmation</title>
	</h:head>

	<h:body>

	    The product is confirmed: #{productOne.name} #{productOne.optionalName}

		<br /><br/>
		
		Category: #{productOne.category}
		
    </h:body>
</html>