<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<h:head>
		<title>Student ONE Registration Form</title>
	
		<style>
			.error {color:red}
		</style>
		
	</h:head>

	<h:body>

		<h:form>
	
			<!-- <h:messages styleClass="error"></h:messages> -->
		
			Name: <h:inputText	value="#{productOne.name}"
								label="Name"
								required="true"
								id="name"
								requiredMessage="The product name is mandatory."></h:inputText>
				
				<h:message for="name" styleClass="error"></h:message>
	
			<br></br>
			
			Optional name: <h:inputText value="#{productOne.optionalName}"
				label="Optional name"></h:inputText>
	
			<br></br>
			Category: <h:inputText 	value="#{productOne.category}"
									label="Category"
									required="true"
									id="category"
									requiredMessage="The product category must be given."></h:inputText>
									
			<h:message for="category" styleClass="error"></h:message>
	
			<br></br>
			
			<h:commandButton value="Submit" action="product_one_response"></h:commandButton>
	
		</h:form>
	
	</h:body>

</html>